@import '_null';

.wrapper {
   width: 100%;
   min-height: 800px;
   background: #1A2980;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   .header {
      width: 100vw;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      
      .burgerMenu {
         width: 400px;
         height: 1600px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         z-index: 50;
         
         .main-menu{
            font-size: 30px;
            cursor: pointer;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
         }

         .burgerMenu__burger {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            z-index: 40;
            .line {
               width: 35px;
               height: 3px;
               margin: 5px;
               background-color: rgb(255, 255, 255);
               transition: all 500ms ease;
               -webkit-transition: all 500ms ease;
               -moz-transition: all 500ms ease;
               -ms-transition: all 500ms ease;
               -o-transition: all 500ms ease;

            }
         }

         .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 13.3px);
            -webkit-transform: rotate(-45deg) translate(-5px, 13.3px);
            -moz-transform: rotate(-45deg) translate(-5px, 13.3px);
            -ms-transform: rotate(-45deg) translate(-5px, 13.3px);
            -o-transform: rotate-(45deg) translate(-5px, 13.3px);
         }

         .toggle .line2 {
            opacity: 0;
         }

         .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -13.3px);
            -webkit-transform: rotate(45deg) translate(-5px, - 13.3px);
            -moz-transform: rotate(45deg) translate(-5px, - 13.3px);
            -ms-transform: rotate(45deg) translate(-5px, - 13.3px);
            -o-transform: rotate(45deg) translate(-5px, - 13.3px);
         }

         .hiddenMenu{
            position: absolute;
            left: 40%;
            height: 100vh;
            top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            background: #E6DADA;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            opacity: 0.8;

            transform: translateX(-200%);
            -webkit-transform: translateX(-200%);
            -moz-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
            -o-transform: translateX(-200%);

            transition: transform 500ms ease-in;
            -webkit-transition: transform 500ms ease-in;
            -moz-transition: transform 500ms ease-in;
            -ms-transition: transform 500ms ease-in;
            -o-transition: transform 500ms ease-in;
            z-index: 10;
         }
         .burgerMenu__links {
            z-index: 40;
            position: absolute;
            left: 0;
            height: 100%;
            top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            color: white;
            font-size: 20px;
            font-weight: 500;
            background: #FF512F;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            

            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);

            transition: transform 500ms ease-in;
            -webkit-transition: transform 500ms ease-in;
            -moz-transition: transform 500ms ease-in;
            -ms-transition: transform 500ms ease-in;
            -o-transition: transform 500ms ease-in;

            .link {
               display: flex;
               justify-content: center;
               align-items: center;
               list-style: none;
               font-size: 25px;
               width: 100%;
               height: 50px;
               margin: 10px 0;
               cursor: pointer;

               &:hover {
                  background: #ff4b1f;  /* fallback for old browsers */
                  background: -webkit-linear-gradient(to right, #ff4b1f, #1fddff);  /* Chrome 10-25, Safari 5.1-6 */
                  background: linear-gradient(to right, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                  transition: all 1s;
               }

            }

         }

         .burger_active {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
         }
         .hiddenMenu_active {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
         }


      }

      .stats {
         
         .getStats {
            font-weight: 700;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: .8em 1em calc(.8em + 3px);
            border-radius: 3px;
            background: rgb(64,199,129);
            box-shadow: 0 -3px rgb(53,167,110) inset;
            transition: 0.2s;
            &:hover {background: rgb(53, 167, 110)}
            &:active {}
            &:focus {}
         }
      }

      .checkTraning {
         margin-right: 100px;
         span{
            font-size: 40px;
            font-weight: 600;
            color: indigo
         }

         
         label {

            display: block;
            left: 0px;
            top: 0;
            position: relative;
            width: 300px;
            height: 40px;
            z-index: 10;
            line-height: 40px;
            font-weight: bold;
            text-align: center;
            background: #ffffff;
            color: #3d025f;
            font-weight: 600;
            font-size: 30px;
            -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            cursor: pointer;
         }

         label:after {
            content: attr(data-check);
            width: 150px;
            height: 40px;
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            background: #0aeeea;
            -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            cursor: pointer;
         }

         #checkbox {
            display: none;
         }

         :checked+label {
            left: 0px;
         }

         :checked+label:after {
            left: 150px;
            background: #6000af;
            color: #afc0d1;
            content: attr(data-check);
         }



      }

   }


   .content {
      width: 100%;
      min-height: 300px;

      .cards {
         width: 100%;
         padding: 0 100px;
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;



         .train-card {
            width: 300px;
            height: 300px;
            margin: 30px;
            border-radius: 30px;
            background: -webkit-linear-gradient(to bottom, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: radial-gradient(rgba(217, 250, 255, 0.61), rgba(200, 250, 254, 0.65), rgba(183, 251, 252, 0.68), rgba(166, 251, 251, 0.72), rgba(149, 252, 250, 0.75), rgba(132, 252, 248, 0.79), rgba(116, 253, 247, 0.82), rgba(99, 253, 245, 0.86), rgba(82, 254, 244, 0.89), rgba(65, 254, 243, 0.93), rgba(48, 255, 241, 0.96), rgb(31, 255, 240));
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            cursor: pointer;
            
            &:hover {
               transition: all 500ms;
               box-shadow: 0 14px 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }

            img {
               width: 100%;
               // border-radius: 30px 30px;
               height: 250px;
               border-radius: 30px;
               transition: all 1s;
            }

            .info {
               display: flex;
               position: relative;
               justify-content: center;
               align-items: center;
               // background: #e9ff57;
               height: 50px;
               width: 100%;
               font-size: 25px;

               .wordEn {
                  display: flex;
                  width: 100%;
                  justify-content: center;
                  align-items: center;
               }

               .wordRu {
                  display: none;
                  width: 100%;
                  justify-content: center;
                  align-items: center;
               }

               .change-lang {
                  position: absolute;
                  bottom: 20px;
                  right: 20px;
                  width: 25px;
                  height: 25px;

                  &:hover {
                     filter: invert(1)
                  }

               }
            }
         }
         .disabled {
            background: rgba(255, 255, 255, 0.6);
         }
      }
   }
   
   .footer {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      background: #41295a;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      
      .author {
         padding-top: 30px;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 40px;
         color: white;
         .name {
            padding-bottom: 20px;
         }

         .github {
            a {
               color: red;
               &:hover {
                  color: rgb(221, 0, 159);
               }
            }
         }
      }
      .logo {
         padding-top: 30px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .courses {
            .namecurs {
               // margin-top: 50px;
               font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               font-size: 25px;
            }
            .link {
               padding-top: 10px;
               font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               font-size: 25px;
               color: white;
               a {
                  color:red;
                  &:hover {
                     color: rgb(233, 0, 214);
                  }
               }
            }
         }
         img {
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
         }
      }
   }

}


.game-menu {
   width: 90px;
   height: 300px;
   position: fixed;
   z-index: 10;
   top: 150px;
   right: -185px;
   border-top-left-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border-bottom-left-radius: 20px;
   background: #ffdd82;
   border: 2px solid #24d7f7;
   border-right: none;
   box-shadow: 0px 2px 29px cyan;
   transition: 0.5s ease;


   .play {
      border: none;
      border-radius: 30%;
      font-size: 1.2rem;
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
      box-shadow: 0px 4px #4a3d82;
      cursor: pointer;
      transition: 0.3s ease;

      .play-btn {
         width: 60px;
         height: 60px;
         padding: 15px;
      }

      &:hover {
         background-color: red;
      }

      &:active {}

      &:focus {}
   }

   .repeat {
      border: none;
      border-radius: 30%;
      font-size: 1.2rem;
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
      box-shadow: 0px 4px #4a3d82;
      cursor: pointer;
      transition: 0.3s ease;

      .repeat-btn {
         width: 60px;
         height: 60px;
         padding: 15px;
      }

      &:hover {
         background-color: red;
      }

      &:active {}

      &:focus {}
   }

   .disabled {
      background-color: grey;

      &:hover {
         background-color: grey;
      }
   }
   .close {
      border: none;
      border-radius: 30%;
      font-size: 1.2rem;
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
      box-shadow: 0px 4px #4a3d82;
      cursor: pointer;
      transition: 0.3s ease;

      .close-btn {
         width: 60px;
         height: 60px;
         padding: 15px;
      }

      &:hover {
         background-color: red;
      }

      &:active {}

      &:focus {}
   }

   .disabled {
      background-color: grey;

      &:hover {
         background-color: grey;
      }
   }
}

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s ease 0s;

   &__body {
      width: 100%;
      height: 100%;

      .popup__container {

         min-height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         .start-game-btn {
            width: 150px;
            height: 150px;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            background-color: #ffffff;
            background-image: url(./../assets/image/start-game.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            border: none;
            border-radius: 50%;
            box-shadow: 1px 1px 11px 4px #b6d0f266;
            cursor: pointer;
            transition: transform 1.5s;

            &:hover {
               transform: rotate(360deg);
            }
         }


      }

   }

   .popup .open {
      opacity: 1;
      visibility: visible;
   }
}

.popup__end {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   // opacity: 1;
   // visibility: visible;
   transition: all 0.5s ease 0s;

   .popup__end__container {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .end__game{
         width:  400px;
         height: 400px;
         background-color: azure;
         border-radius: 30px;
         box-shadow:  0px 0px 200px 25px gold;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         .congratulations {
            font-size: 30px;

         }
   
         .steps {
            font-size: 30px;
         }

         .smile{
            width: 100px;
            height: 100px;
         }
      }


   }

}


.stats-table{
   // display: block;
   position: absolute;
   top: 70px;
   left: 0;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 14px;
   border-collapse: collapse;
   text-align: center;
   width: 100%;
   min-height: 300px;
   opacity: 0;
   visibility: hidden;
   transition: all 1s;
 
   .sorted{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }
   img{
      width: 20px;
      height: 20px;
   }

   th, td:first-child {
      width: 16%;
      text-align: center;
      background: #AFCDE7;
      color: white;
      padding: 10px 20px;
   }
   th, td {
      width: 14%;
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: white;
   }
   td {
      background: #D8E6F3;
   }
   th:first-child, 
   td:first-child {
      text-align: center;
   }
   



}

.active-table{
   // display:none;
   opacity: 1;
   visibility: visible;
}